body {
    background-image:url("images/background.png");
    font-family: 'Roboto', sans-serif;
}

select {
    -webkit-appearance:none;
    outline:none;
    border:none;
    background-color:#A0A0A0;
    border-radius:8px;
    padding:5px;
    font-size:10pt;
    height:25px;
    width:140px;
    color:white;
}

table {
    border-collapse:collapse;
}

.table-column, .table-header {
    border:1px solid #ddd;
    padding:8px;
}

.table-row {
    background-color:#f2f2f2;
}

.table-row:hover {
    background-color:#ddd;
}

.table-header {
    padding-top:12px;
    padding-bottom:12px;
    text-align:left;
    background-color:#A0A0A0;
    color:white;
}

#paging a, .disabled {
    color: #282828;
    padding-left: 1%;
    text-decoration: none;
}